.menu-container{background-color: rgb(34, 33, 33); color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; list-style: none; display: flex;
justify-content: space-between; align-items: center;}

*{margin: 0px; padding: 0px;}

.logo-photos{width:140px;}

.menus{display: flex;}


.item{margin-right: 10px; padding: 5px; font-size: 12px;
cursor: pointer;}

.item:hover{color: yellow;}

.banner-image{width: 150px; height: 250px;}

.banner-container{display: flex;
justify-content: space-around;
height: 100vh; border: 1px solid navy;
align-items: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-image: url(logo/wallpaperflare.com_wallpaper.jpg ); width: 723px; color: rgb(255, 255, 255);} 

.cookie{background-color: yellow; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 500; margin: 8px; padding: 8px;border-radius: 7px;}  

.description{margin: 9px; font-size: 12px;}

.about-photo{width: 280px; height: 270px;}

.about-container{display: flex; 
justify-content: space-around;
align-items: center;
flex-direction: row-reverse;}

.btn{background-color: yellow; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; padding: 5px; margin: 5px; border-radius: 3px;}

.about-container{background-image: url(logo/design-space-paper-textured-background.jpg);}

.about-info{margin: 5px; padding: 5px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.emni{background-color: red; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}